@using System.Web.Optimization
<html ng-app="ssb">
<head>
    <title>SREE LAXMI SAI BAALAJI CHITS</title>

    @Styles.Render("~/content/css")
    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 40%;
            margin: auto;
            height: 30%;
        }

        #pendindContactsGrid {
            height: 40%;
        }

            #pendindContactsGrid .ui-grid-header {
                height: 50px;
            }

        .ui-grid-icon-cancel {
            padding-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container" ng-controller="index as vm">



        <div class="row">

            <div class="col-sm-1">
                <img src="~/images/left.jpg" height="75" width="80" />
            </div>
            <div class="col-sm-10">

                <img src="~/images/logo.gif" width="100%" height="10%" />
                <hr />

            </div>

            <div class="col-sm-1">
                <img src="~/images/right.jpg" height="75" width="80" />
            </div>
        </div>


        <div class="row">
            <div>
                <nav role="navigation" class="navbar navbar-inverse">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>
                    <!-- Collection of nav links, forms, and other content for toggling -->


                    <div id="navbarCollapse" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a ui-sref="page1" href="/">Home</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Achivements <b class="caret"></b></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="#">History</a></li>
                                    <li><a href="#">chitGroups</a></li>
                                    <li><a href="#">actioned chits</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">sms fecilty</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form role="search" class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" placeholder="Search" class="form-control">
                            </div>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="~/Account/Logout">Logout</a></li>
                        </ul>

                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/images/3.jpg" alt="Chania" width="460" height="345">
                        </div>

                        <div class="item">
                            <img src="~/images/4.jpg" alt="Chania" width="460" height="345">
                        </div>

                        <div class="item">
                            <img src="~/images/5.jpg" alt="Flower" width="460" height="345">
                        </div>

                        <div class="item">
                            <img src="~/images/6.jpg" alt="Flower" width="460" height="345">
                        </div>
                          <div class="item">
                            <img src="~/images/7.jpg" alt="Flower" width="460" height="345">
                        </div>
                          <div class="item">
                            <img src="~/images/8.jpg" alt="Flower" width="460" height="345">
                        </div>
                          <div class="item">
                            <img src="~/images/9.jpg" alt="Flower" width="460" height="345">
                        </div>
                          <div class="item">
                            <img src="~/images/10.jpg" alt="Flower" width="460" height="345">
                        </div>
                          <div class="item">
                            <img src="~/images/11.jpg" alt="Flower" width="460" height="345">
                        </div>
                          <div class="item">
                            <img src="~/images/12.jpg" alt="Flower" width="460" height="345">
                        </div>
                          <div class="item">
                            <img src="~/images/3.jpg" alt="Flower" width="460" height="345">
                        </div>
                          <div class="item">
                            <img src="~/images/14.jpg" alt="Flower" width="460" height="345">
                        </div>
                          <div class="item">
                            <img src="~/images/15.jpg" alt="Flower" width="460" height="345">
                        </div>
                         <div class="item">
                            <img src="~/images/16.jpg" alt="Flower" width="460" height="345">
                        </div>
                         <div class="item">
                            <img src="~/images/17.jpg" alt="Flower" width="460" height="345">
                        </div>
                         <div class="item">
                            <img src="~/images/18.jpg" alt="Flower" width="460" height="345">
                        </div>
                         <div class="item">
                            <img src="~/images/19.jpg" alt="Flower" width="460" height="345">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>





                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">UpdateNews</div>
                    <div class="panel-body">
                        <div id="list3">

                            <marquee direction="up" scrolldelay="1000" scrollamount="20">
                            <ul>
                               

                                <li><b>25th Anniversary day of our new chit group</b><img src="/images/new.gif" /></li>
                                <li><b>From Oct Onwards new chit is adding</b><img src="/images/new.gif" /></li>
                                <li><b>Join in 233 days program</b></li>
                                <li><b>WELCOME to SSB LIFE Chits program</b></li>
                             <li><b>Best beliable chit in karimnagar</b></li>
                            </ul>
                                </marquee>
                        </div>

                    </div>
                </div>

            </div>

        </div>



        <hr />
        <div class="row">
            <div ui-view=""></div>
        </div>

        <hr />

        <footer align="center">
            <p>Posted by: Shankar Nishani</p>
            <p>Contact information: <a href="mailto:someone@example.com">shankarnishani@ssbshits.com</a>.</p>
        </footer>

        <hr />
    </div>


    @Scripts.Render("~/scripts/lib")

    <script src="~/scripts/xl/ods.js"></script>
    <script src="~/scripts/xl/xlsx.full.min.js"></script>

    @Scripts.Render("~/scripts/app")

   @* <script src="https://cdn.rawgit.com/SheetJS/js-xlsx/v0.8.0/dist/xlsx.full.min.js"></script>
    <script src="https://cdn.rawgit.com/SheetJS/js-xlsx/v0.8.0/dist/ods.js"></script>*@
</body>
</html>
