<div class="panel panel-primary">
    <div class="panel-heading">Send Single Pramotional SMS</div>
    <div class="panel-body">


        <div class="row">
            <div class="col-sm-12">

                <div style="padding-top: 30px" class="panel-body">

                    <div id="login-alert" ng-show=" vm.model.errorMsg.length>0" class="alert alert-danger col-sm-12">
                        {{vm.model.errorMsg}}
                    </div>

                    <form id="form" class="form-horizontal" role="form">

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon">MobileNo</span>
                            <input name="mobileNo" type="text" class="form-control" maxlength="10" numbers-only ng-model="vm.model.mobileNo">
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon">Name</span>
                            <input name="name" type="text" maxlength="25" class="form-control" ng-model="vm.model.name">
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon">Message</span>
                            <textarea name="name" rows="5" class="form-control" ng-model="vm.model.message"></textarea>

                        </div>

                    </form>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-success" ng-click="vm.reset()">Clear</button>
                <button type="button" class="btn btn-success" ng-click="vm.view()">View</button>
                <br />

            </div>

        </div>
    </div>
